.body-home {
    background: url(../images/Barter_login.jpg) no-repeat;
    background-size:cover;
}

.navbar {
    background-color: #084298;
}

.row-login {
    background-position-x: center;
    background-position-y: bottom;
}
.fa-bars {
    color: white ;
}
